# Basics
*.py[cod]
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm
.idea

# Complexity
output/*.html
output/*/index.html

# Vim
*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

# virtualenv
env/

# Sphinx
docs/_build

